/* FONTS GOOGLE */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
/* VARIABLES CSS */
:root {
  --header-height: 3rem;

  --hue-color: 216;

  --fist-color: hsl(var(--hue-color), 69%, 61%);
  --fist-color-second: hsl(var(--hue-color), 69%, 61%);
  --fist-color-alt: hsl(var(--hue-color), 57%, 53%);
  --fist-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --title-text: #000;
  /* Font and typography */
  --body-font: "Urbanist", sans-serif;

  /* .5rem=8px, 1rem=16px, 1.5rem=24px ... */

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small--font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font wight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margin bottom */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* Parallax */

  --parallax-offset: 30vh;
  --content-offset: 40vh;
  --transition-speed: 1.2s;
  --slide-number: 3;

  /* Z index */

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small--font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* variables darck theme */
body.dark-theme {
  --fist-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --title-text: hsl(0, 0%, 100%);
}
/* button dark/light */
.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}
.change-theme:hover {
  color: var(--fist-color);
}

/* Base */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--title-text);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

.nav a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* reusable css classes */
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small--font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* layout */

.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
}
.header .header__content {
  text-align: center;
  background-color: var(--text-color);
  color: var(--body-color);
  padding: 10px;
}
.header .header__content a {
  color: var(--body-color);
}

.container {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Nav */
.nav {
  background-color: var(--body-color);
  opacity: 1;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: var(--h1-font-size);
}

.nav__logo:hover {
  color: var(--fist-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--fist-color);
}

@media screen and (max-width: 830px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    z-index: 300;
    background-color: var(--body-color);
    padding: 4rem 1rem 2rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0 0 1.5rem 1.5rem;
    transition: 0.3s;
  }
  .background:first-child {
    background-image: url("../Assets/Fotos/oneMillon2.jpg") !important;
  }
  .background:nth-child(2) {
    background-image: url("../Assets/Fotos/phantom2.jpg") !important;
  }
  .background:nth-child(3) {
    background-image: url("../Assets/Fotos/pureXNight2.png") !important;
  }
  .content-wrapper-1, .content-wrapper-2{
    width: 100vw !important;
  }
  .content-wrapper-3{
    width: 100vw !important;
    margin-top: 200px !important;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--small--font-size);
  color: var(--title-color);
  justify-content: space-around;
  font-weight: var(--font-medium);
}
.nav__link:hover {
  color: var(--fist-color);
}
.nav__link:hover .nav__icon {
  position: relative;
  animation-name: movingIcon;
  animation-duration: 1s;
}

@keyframes movingIcon {
  0% {
    left: 0;
    right: 0;
  }
  50% {
    left: 1rem;
    right: 1rem;
  }
  100% {
    left: 0;
    right: 0;
  }
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.2rem;
  top: 0.7rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--fist-color);
}

.nav__close:hover {
  color: var(--fist-color);
}

.sticky {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.nav-top {
  top: 0;
  z-index: 10;
}
.absolute {
  z-index: 20;
  position: relative;
  width: 100%;
}

/* SHOW MENU */

.show-menu {
  top: 0;
}

/* MEDIA QUERIES */

/* for small devices */

@media screen and (max-width: 450px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav__menu {
    padding: 4rem 0.25rem 2rem;
  }
  .nav__list {
    column-gap: 0;
  }
  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }
}
@media screen and (min-width: 830px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .section__subtitle {
    margin-bottom: 4rem;
  }
  .header {
    top: 0;
    bottom: initial;
  }

  .container,
  .main,
  .footer__container {
    padding: 0 1rem;
  }

  .container {
    height: calc(var(--header-height)+3.5rem);
    column-gap: 1rem;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu {
    margin: auto;
  }

  .change-thene {
    margin: 0;
  }
}

/* HOME */
.home__container {
  gap: 1rem;
}
.home__content {
  padding-top: 3.5rem;
}

/* LOCATION */
.location_main {
  min-height: 90vh;
  display: flex;
}

.section {
  height: 200px;
  width: 100%;
  margin: 0 1rem 0 1rem;
  align-items: center;
  align-self: flex-end;
  padding: 0 !important;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100% !important;
}

/* Parallax */

.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  will-change: transform;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  display: flex;
  flex-flow: column nowrap;
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--text-color);
}
.background:first-child {
  background-image: url("../Assets/Fotos/oneMillon.jpg");
  transform: translateY(0vh);
}
.background:first-child .content-wrapper {
  transform: translateY(15vh);
}
.background:nth-child(2) {
  background-image: url("../Assets/Fotos/phantom.jpg");
}
.background:nth-child(3) {
  background-image: url("../Assets/Fotos/pureXNight.webp");
}

/* Set stacking context of slides */

.background:nth-child(1) {
  z-index: 6;
}

.background:nth-child(2) {
  z-index: 5;
}

.background:nth-child(3) {
  z-index: 4;
}
.content-wrapper {
  text-transform: uppercase;
  transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  background: var(--body-color);
  opacity: .9;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
}

.content-wrapper-1 ,.content-wrapper-2{
  width: 50vw;
  margin-bottom: auto;
  margin-left: auto;
  margin-top: 40vh;
}
.content-wrapper-3{
  width: 50vw;
  margin: auto;
}
.content-title {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-size: var(--h1-font-size);
  line-height: 3rem;
  text-align: center;
}
.content-subtitle {
  letter-spacing: normal;
  line-height: 1.5rem;
  letter-spacing: .05rem;
  font-size: var(--small--font-size);
  color: var(--title-color);
  justify-content: space-around;
  font-weight: var(--font-medium);
}

.background.up-scroll {
  transform: translate3d(0, -1vh, 0);
}
.content-wrapper:first-child {
  transform: translateY(50vh);
}
.background.up-scroll + .background {
  transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  transform: translateY(30vh);
}

.background.down-scroll {
  transform: translate3d(0, -143vh, 0);
}
.background.down-scroll .content-wrapper {
  transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
}
